.App {
  padding: 30px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 50px auto;
}

.App-footer {
  margin-top: 20px;
}

.App a {
  color: #6c63ff;
}
